/* Los estilos de .title-wrapper es para poner una imagen y un título alineados
   uno al lado del otro.
*/
.title-wrapper {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-top: 1rem;
}

.title-wrapper img {
  height: 48px;
}

.title-wrapper h3 {
  margin-block: 0;
}
