/* Estilo de las tarjetas */
.service-card {
  border-radius: 10px;
  /* Bordes redondeados */
  background-color: #f8f9fa;
  /* Color de fondo */
  overflow: hidden;
  /* Oculta el desbordamiento */
  height: 350px;
  /* Altura fija para todas las tarjetas */
  display: flex;
  /* Flexbox para forzar el contenido a adaptarse */
  flex-direction: column;
  /* Alineación vertical del contenido */
  justify-content: space-between;
  /* Espacio uniforme entre elementos */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* Sombra para dar profundidad */
  transition: transform 0.3s;
  /* Transición suave */
}

.service-card-img-top {
  height: 150px;
  /* Altura fija para la imagen */
  object-fit: cover;
  /* Ajusta la imagen */
}

.service-card-body {
  padding: 10px;
  /* Espaciado interno */
  text-align: center;
  /* Centra el contenido del texto */
}

h5.service-card-title {
  font-weight: bold;
  /* Peso de la fuente */
  color: #343a40;
  /* Color de texto */
  margin-bottom: 0.5rem;
  /* Espaciado inferior */
}

.service-card-text {
  flex-grow: 1;
  /* Ocupa el espacio restante */
  font-size: 0.9em;
  /* Tamaño de fuente un poco más pequeño */
}

.service-card:hover {
  transform: scale(1.05);
  /* Escala al pasar el ratón */
}