.whatsapp-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 8%;
  right: 5%;
  gap: .2rem;
}

.whatsapp-btn {
  cursor: pointer;
  background-color: transparent;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, .4);
  border-radius: 50%;
}

.whatsapp-btn:hover {
  opacity: .9;
}

.whatsapp-btn img {
  width: 48px;
  height: 48px;
  vertical-align: middle;
}


@media(min-width:768px) {
  .whatsapp-wrapper {
    bottom: 10%;
    right: 87px;
  }

  .whatsapp-btn {
    bottom: 15%;
  }

  .whatsapp-wrapper:hover {
    display: flex;
    transform: scale(1.2);
  }

  .whatsapp-btn img {
    width: 48px;
    height: 48px;
  }

}